
* { /* väljer alla sektioner i hela dokumentet */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 body {
    height: 100%;
    width: 100%;
}

/* container som nämnd i html dokumentet */
.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/* header */
header {
    background-color: #333;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    width: 100%;
}
header img {
    float: center;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

/* navigations baren */
nav {
    display: flex;
    justify-content: center;
    background-color: #444;
    width: 100%;
    padding: 10px 0;
}
/* detta är för alla <a> taggar inom navbaren */
nav a {
    color: white;
    padding: 15px 35px;
    text-decoration: none;
    text-align: center;
}

nav a:hover {
    background-color: #4a4949;
}

/* välkomstsidan */
.upp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #bbb;
    text-align: center;
    width: 100%;
}
/* detta är knappen*/
.upp a {
    color: #ffffff;
    background-color: #000000;
    padding: 10px 15px;
    text-decoration: none;
    margin-top: 10px;
}

.upp a:hover {
    background-color: #555;
}

/* produktsida */
.produkter {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px;
    width: 100%;
    margin-bottom: 40px;
}

.produkt {
    background-color: white;
    padding: 5px;
    width: 350px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.produkt img {
    width: 100%;
    height: auto;
}

.produkt a {
    display: inline-block;
    margin-top: 10px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.produkt a:hover {
    text-decoration: underline;
}

/* footern */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    width: 100%;
    position: relative;
    bottom: 0;
}
