* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background: #efefef;
    color: #333;
    text-align: center;
}

header {
    background: #333;
    color: white;
    padding: 20px;
    position: relative;
}

nav {
    background: #444;
    padding: 10px;
    position: sticky;
    top: 0;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
}

nav a:hover {
    background: #555;
    border-radius: 5px;
}


.upp {
    background: white;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.upp a {
    display: inline-block;
    background: #919191;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
}

.upp a:hover {
    background: #000000;
}


.produkter {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.produkt {
    background: white;
    padding: 15px;
    width: 250px;
    border: 1px solid #dddddd;
    border-radius: 5px;
}

.produkt img {
    width: 100%;
    border-radius: 5px;
}

.produkt a {
    display: block;
    color: #ff0000;
    margin-top: 10px;
    text-decoration: none;
}

.produkt a:hover {
    text-decoration: underline;
}

/* fuuuter */
footer {
    background: #333;
    color: white;
    padding: 20px;
    margin-top: 20px;
}
/* Använt mig av w3schools, codecademy samt samt reddit för hjälp med css koden*/