.Header{
    font-size: 25px;
    font-family: "Comic Sans MS";
    text-align: center;
}
.Allt{
    text-align: center;

}
.Uppgifter{
    padding-left: 30%;
    padding-bottom: 5%;
    text-align: left;
}